<div class='content' ng-controller='BookingCtrl'>
  <div id='book_hotel' class='swipe'>
    <div class='swipe-wrap'>
      <div><img src='./images/v_spa6.png'></div>
      <div><img src='./images/v_spa7.png'></div>
      <div><img src='./images/v_spa5.png'></div>
      <div><img src='./images/v_spa6.png'></div>
      <div><img src='./images/v_spa7.png'></div>
      <div><img src='./images/v_spa5.png'></div>
    </div>
    <div class='slide_nav'>
      <a class='slide_prev' onclick='swipeHotel.prev()'>prev</a> 
      <a class='slide_next' onclick='swipeHotel.next()'>next</a>
    </div>
  </div>
</div>
<div class='content'>Booking 2</div>
<div class='content'>
  <div id='book_room' class='swipe'>
    <div class='swipe-wrap'>
      <div><img src='./images/room1.png'></div>
      <div><img src='./images/room2.png'></div>
      <div><img src='./images/room3.png'></div>
      <div><img src='./images/room1.png'></div>
      <div><img src='./images/room2.png'></div>
      <div><img src='./images/room3.png'></div>
    </div>
    <div class='slide_nav'>
      <a class='slide_prev' onclick='swipeRoom.prev()'>prev</a> 
      <a class='slide_next' onclick='swipeRoom.next()'>next</a>
    </div>
  </div>
</div>
<div class='content'>Booking 4</div>
<script type="text/javascript">
    window.swipeHotel = new Swipe(document.getElementById('book_hotel'), {
        startSlide: 1,
        speed: 2000,
        auto: 2000,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        continuous: true,
        transitionEnd: function(index, elem) {}
    });
    window.swipeRoom = new Swipe(document.getElementById('book_room'), {
        startSlide: 1,
        speed: 2000,
        auto: 2000,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        continuous: true,
        transitionEnd: function(index, elem) {}
    });
</script>