<!DOCTYPE html>
<html ng-app="ngApp">
<head>
  <title>Banyan browser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- stylesheet -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/carousel.css">
  <style id="holderjs-style" type="text/css"></style>
  <link rel="stylesheet" href="assets.css">
  
  <!-- Icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body ng-controller='ListCtrl'>
  <div id="sidebar-detail" class='hide'>
    <nav id='sidebar-detail-list'>
      <div>
        <a class='close' href=''>Close</a>
      </div>
      <ul ng-show='listDest'>
        <li ng-repeat='dest in destination'><a ng-click='close()' href="#/destination">{{dest}}</a></li>
      </ul>
      <ul ng-show='listBook'>
        <li><a ng-click='close()' href="#/booking">Booking</a></li>
      </ul>
    </nav>
  </div>
  <div id="contents" class='hwidth'>
    <nav>
      <ul >
        <li><a class='menu' href="" ng-click='listDest = !listDest'>Destination</a></li>
        <li><a class='menu' href="" ng-click='listBook = !listBook'>Book</a></li>
        <li id='logo'>
          <a href="/">Logo</a>
          <a href=''>More</a>
        </li>
      </ul>
    </nav>
    <div id='contents-wrapper' ng-view="">
    </div>
  </div>

  <!-- scripts -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/holder.js"></script>
  <script src="bower_components/swipe/swipe.js"></script>

  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>

  <!-- application -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/controller.js"></script>
  <!-- custom -->
  <script type="text/javascript">
    $("#contents ul li a.menu").click(function () {
        console.log('asdf');
          $("#sidebar-detail").toggleClass("hide");
          $("#contents").toggleClass("hwidth");
      });
  </script>
  <script type="text/javascript">
      window.onresize = function() {

          var width = $(window).width(),
              height = $(window).height();
          console.log('widddd',width)
      }
  </script>
  
</body>
</html>